.root {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 20px solid transparent;

  .row {
    display: grid;
    width: 100%;
    min-height: 40px;

    &.highlight .cell {
      background-color: #f5f5f5;
      font-weight: bold;
    }

    .cell {
      padding: 8px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border-top: 1px solid black;
      border-left: 1px solid black;

      &.highlight {
        background-color: #f5f5f5;
        font-weight: bold;
      }
    }

    .bumper {
      width: 32px;
      border-left: 1px solid black;
    }

    &:last-child .cell {
      border-bottom: 1px solid black;
    }
  }
}

.scoll-bumper {
  width: 16px;
  height: 100%;
}
