@import './base/vars.css';
@import './base/reset.css';

html {
  font-family: 'Pretendard', sans-serif;
  height: 100%;
  font-size: 18px;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-default);
  height: 100%;
}

body,
input,
textarea,
select,
table,
button {
  font-size: 1rem;
  line-height: 1.7;
}

code {
  font-size: 0.75rem;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

#__next {
  height: 100%;
}
