.root {
  background-color: #282c34;
  border-radius: var(--border-radius);
  position: relative;

  &.summary {
    width: calc(100% + 32px);
    margin-left: -16px;
  }

  .copy-wrapper {
    position: absolute;
    top: 0.7em;
    right: 1em;
    color: hsl(220, 14%, 71%);

    &.click-available {
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    &.copied {
      color: white;
    }
  }

  .language {
    position: absolute;
    bottom: 0.7em;
    right: 1em;
    font-family: 'Pretendard', sans-serif;
    font-size: 0.8em;
    color: var(--color-text-gray-dark);
  }
}
