.root {
  background-color: #282c34;
  border-radius: var(--border-radius);
  position: relative;

  .header {
    width: calc(100% - 2.2em);
    position: absolute;
    top: 0.5em;
    left: 1.1em;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-in-out;

    .language {
      font-family: 'Pretendard', sans-serif;
      font-size: 0.8em;
      color: var(--color-text-gray-dark);
    }

    .copy-wrapper {
      display: flex;
      column-gap: 0.2em;
      align-items: center;
      color: hsl(220, 14%, 71%);
      font-family: 'Pretendard', sans-serif;
      font-size: 0.8em;

      &.click-available {
        cursor: pointer;

        &:hover {
          color: white;
        }
      }

      &.copied {
        color: white;
      }
    }
  }

  &:hover .header {
    opacity: 1;
    transition: all 0.1s ease-in-out;
  }
}
