/* 기본 속성 */
:root {
  --color-primary: #6e8fda;
  --color-secondary: #e088b9;
  --color-light: #ffffff;
  --color-light-dimmed: rgba(255, 255, 255, 0.5);
  --color-dark: #1a1a1a;
  --color-dark-dimmed: #2c2c2c;
  --color-gray-dimmed: #cacaca;
  --color-light-gray-border: #ededed;
  --color-light-gray: #f8f8f8;
  --color-red: #fc4f4f;
  --color-yellow: #ffce00;
  --color-blue-light: rgb(211, 229, 239);
  --color-blue-dark: rgb(40, 69, 108);
  --color-orange-light: rgb(250, 222, 201);
  --color-orange-dark: rgb(133, 76, 29);

  --color-text-black: rgb(55, 53, 47);
  --color-text-black-dimmed: rgba(55, 53, 47, 0.4);
  --color-text-white: rgba(255, 255, 255, 1);
  --color-text-white-dimmed: rgba(255, 255, 255, 0.4);
}

/* 테마 속성 */
:root {
  --color-bg-primary: var(--color-light);
  --color-bg-dimmed: var(--color-light-dimmed);
  --color-text-default: var(--color-text-black);
  --color-text-dimmed: var(--color-text-black-dimmed);
  --color-blue: var(--color-blue-light);
  --color-orange: var(--color-orange-light);

  .theme-dark {
    --color-bg-primary: var(--color-dark);
    --color-bg-secondary: var(--color-dark-dimmed);
    --color-text-default: var(--color-text-white);
    --color-text-dimmed: var(--color-text-white-dimmed);
    --color-orange: var(--color-orange-dark);
  }
}

/* 고정 속성 */
:root {
  --size-content-width: 880px;
  --border-radius: 12px;
  --color-bg-header: var(--color-dark);
  --color-text-header: var(--color-text-white);
  --color-text-header-dimmed: var(--color-text-white-dimmed);
}
