.root {
  margin: 0 auto;
  margin-top: 3em;
  padding-bottom: 1.5em;
  position: relative;
}

/* Row type 분기 */
.full-screen {
  width: 100%;
}

.wide {
  max-width: var(--size-content-width-wide);
  padding: 0 16px;
}

.normal {
  max-width: var(--size-content-width);
  padding: 0 16px;
}
