.root {
  max-width: var(--size-content-width);
  padding: 0 16px;
  margin: 0 auto;
  margin-bottom: 0.6em;

  &.heading_1 {
    margin-top: 2.5em;
  }

  &.heading_2 {
    margin-top: 2em;
  }

  &.heading_3 {
    margin-top: 1em;
  }
}
