.root {
  width: 100%;
  height: auto;
  cursor: zoom-in;

  .figure {
    width: 100%;
    height: auto !important;
    margin: 0;
    position: relative;

    .image {
      width: 100%;
      height: auto !important;
      object-fit: contain;
      position: relative !important;
      border-radius: var(--border-radius);
      transition: all 0.3s;

      &.zoom {
        border-radius: 0;
        position: relative;
        cursor: zoom-out;
        z-index: 12;
      }
    }
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-dimmed);
  backdrop-filter: blur(10px);
  z-index: 11;
  cursor: zoom-out;
}
