.root {
  max-width: var(--size-content-width);
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.7em;

  .title {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1;
    margin: 0;
  }

  .created-at {
    font-size: 1em;
    color: var(--color-text-dimmed);
  }

  .tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

    .tag {
      color: var(--color-text-default);
      padding: 0 8px;
      border-radius: 10px;
      font-size: 0.9em;
    }
  }
}
